
    ._css_rs_0 {
        margin: 0 auto;
        max-width: 700px;
        padding: 25px;
        background-color: #999999;
        color: #000000;
    }


    ._css_rs_1 {
        text-align: center;
    }


    ._css_rs_2 {
        float: right;
    }


    ._css_rs_3 {
        padding: 25px;
        margin: 5px auto;
        background-color: #cccccc;
    }


    ._css_rs_4 {
        font-size: large;
        font-weight: bold;
    }


    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
        font-family: Georgia, serif;
    }

    p {
        text-indent: 2em;
    }

