
    h2 {
        text-align: center;
    }

    div {
        border-radius: 25px;
        border: 2px solid #ccc;
        padding: 25px;
        margin: 5px auto;
        max-width: 75%;
    }

    a {
        margin-right: 5px;
    }

    .right {
        float: right;
    }

