
    ._css_rs_0 {
        margin: 0 auto;
        max-width: 700px;
        padding: 25px;
    }


    ._css_rs_1 {
        text-align: center;
    }


    ._css_rs_2 {
        float: right;
    }


    ._css_rs_3 {
        border: 2px solid #ccc;
        padding: 25px;
        margin: 5px auto;
    }

